body{
	margin:0;
}

header {
	height: 300px;
	width: 100%;
	background-repeat:no-repeat;
	background-size: cover;
	background-position: top center;
	background-image: url("../images/image1.jpeg");
	margin-top: 100px;
}

h1{
	font-size: 40px;
	font-weight: bold;
	color:black;
	opacity: 0.8; 
	text-align: left; 
	margin-left: 15px;
	position: absolute;
	top:-0px;
}


#second-header{
	background-color: #202d26;
	height: 40px;
	width: 100%;
	color:white;
	position: absolute;
	top:370px;
}

header h2{
	line-height:40px;
	text-align: center;
	margin:0;
}

#logo {

	padding: 20px;
	
}

section{
	display:flex;
	padding: 20px;
	
 }

article{

	text-align: justify;
	margin-left: 100px;
	max-width:1000px;
	
}

nav {

margin:0    ;
	position: absolute;
	top:90px;
	right:50px;
}

button{

	padding: 10px;
	margin-right: 10px;
	background-color: #035b05;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 2px;

}

a{
	text-decoration: none;
	font-size: 14px;
	color: white;
}

article a{
	color:blue;
}
#info li{
	font-style: italic;
	font-weight: bold;
}
